APP_ENV=development # development, production
APP_DEBUG=true
LOG_PATH=tmp/app.log
LOG_LEVEL=DEBUG # DEBUG, INFO, WARNING, ERROR
HTTP_CLIENT_TIMEOUT=60.0

PATTERNS_JSON_PATH=config/patterns.json

# --- Konfigurasi LLM ---
# Tentukan urutan preferensi LLM, dipisahkan koma (opsional, jika tidak ada, akan dicoba sesuai urutan di kode)
LLM_PREFERENCE_ORDER="gemini,openai,anthropic"

# Google Gemini
GEMINI_API_KEY=""
GEMINI_MODEL_NAME="gemini-2.0-flash" # atau model Gemini lain yang sesuai

SOCKET_HOST=
SOCKET_PORT=